<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Fridge Notes</title>
    <link rel="stylesheet" href="/fridge.css">
</head>
<body>
    <div>
    <a href = '/'>All notes</a>
    <a href = '/noteForm'>New Note</a>
    <a href = '/deleteForm'>Delete Notes</a>
    </div>
    {{{body}}}
 
</body>
</html>