<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Fridge Notes</title>
    <link rel="stylesheet" href="/fridge.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
</head>

<body>
    <div>
        <a href='/'>ALL NOTES</a>
        <a href='/noteForm'>NEW NOTE</a>
        <a href='/deleteForm'>DELETE NOTES</a>
    </div>
    {{{body}}}

</body>

</html>
