<table style = "width:50%"> 
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>When</th>
    </tr>
    {{#each notes}}
    <tr>
        <th><a href = '/note/{{_id}}'>{{user_title}}</a></th>
        <th>{{user_author}}</th>
        <th>{{datetime}}</th>
    </tr>
    {{/each}}
</table>