body {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 800px;
    font-family: "Lato", sans-serif;
}

input {
    width: 200px;
    margin: 10px;
}

select {
    margin: 10px;
    width: 105px;
}

label {
    display: inline-block;
    width: 50px;
}

button {
    width: 120px;
    position: relative;
    right: 300px;
}

textarea {
    height:40vh;
    width:40vh;
    margin: 5px;
}


input[type="checkbox"] {
    width: 50px;
    margin: 0px;
}

head+body> div:first-child {
    background-color: black;
    text-align: left;
}

div a {
    text-decoration: none;
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
}

table {
    table-layout: fixed;
    text-align: left;
    width: 100%;
    margin: 20px;
    border-bottom: solid 1px;
}

th {
    padding: 2px;
}

td {
    padding: 2px;
}

head+body > div:first-child a:focus,
head+body > div:first-child a:hover {
    background-color: #e9e6e6;
    color: black;
}

.tabbed-controls li.active a {
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: none;
    border-left: solid 1px #413838;
    border-right: solid 1px #413838;
    border-top: solid 1px #413838;
    color: black;
}






